* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
  }
  
  .menu-items {
    padding-bottom: 35px;
    padding-top: 35px;
    padding-left: 16px;
    padding-right: 16px;
    /* color: white; */
    /* text-decoration: none; */
  }
  a{
    text-decoration: none;
  }
  
  /* #navbar */
  
  .navbar {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e59a9;
    color: #fff;
    border-bottom: 1px solid #ffffff;
    padding: 5px 60px;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    position: fixed;
    z-index: 1;
    box-sizing: border-box;
   font-weight: bold;
  }
  
  .logo {
    width: 250px;
  }
  
  .submenu-path {
  color: black;
  text-decoration: none;
  }
  
  .navbar .dropdown {
    position: relative;
    display: inline-block;
    padding: 15px, 0px;
    
  }
  .hover{
    color: white;
    text-decoration: none;
  }
  .hover:hover {
    transition: all 0.5s ease;
    color: #6ec1e4;}
  
  /* .navbar a {
    color: #ffffff;
  
    text-decoration: none;
  } */
  
  .fa-chevron-down {
    margin-left: 4px;
    font-size: 10px;
  }
  
  .navbar ul {
    list-style: none;
    padding: 0;
    width: 230px;
    position: absolute;
    top: 100%;
    /* left: 0; */
    background-color: #6ec1e4;
    border-top: 2px solid black;
    display: none;
    font-size: 16px;
  }
  
  .navbar ul li {
    font-size: 16px;
    padding: 15px 13px;
    cursor: pointer;
    transition: background-color 0.2s;
    color: black;
    border-bottom: 0.5px solid #ffffff;
    box-shadow: black 3px;
    box-sizing: border-box;
  
  }
  
  .navbar ul li:hover {
    color: #1e59a9;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .navbar li {
    width: 230px;
    position: relative;
  color:black;
  }
  

  .fa-chevron-right {
    position: absolute;
    right: 16px;
  }
  
  .sub-dropdown {
    left: 230px;
    top: 0px;
  }
.submenu ul li{
  color:black;
}
  .submenu:hover ul {
    display: block;
  }
 
  .submenu-path:hover {
    color: #1e59a9;
  }
  
  .dropdown:hover .nav-submenu {
    display: block;
  }
  
  /* .fa-list{
    display: none;
  } */
  
  @media(max-width:1229px){
    .navbar{
      display: flex;
      flex-direction: column;
      height: 142px;
      padding-top: 10px;
     /* flex-wrap: wrap-reverse; */
    }
    .logo-img{
        /* width:100% ; */
        display: flex;
        /* justify-content: flex-start; */
    }
 
   .menu{
    display: flex;
    justify-content: center;
    width: 100%;
   }

   .menu-items {
    padding-bottom: 13px;
    
    /* color: white; */
    /* text-decoration: none; */
  }
  }
  
  